<!DOCTYPE html>

<html>

  <head>
    <title>Phone Book</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Phone Book</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
